PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/p200_chatbot
JWT_SECRET=change_this_to_a_long_random_secret
AI_SERVICE_URL=http://127.0.0.1:8000
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=../knowledge-base/documents
